.roadmap_container {
    padding: 78px 20px;
    /* max-width: 1272px; */
    max-width: 1260px;
    margin: 0 auto;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

}

.roadmap_content {
    width: 100%;
    pointer-events: none;
    padding-top: 110px;

}

.roadmap_content img {
    width: 100%;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .roadmap_container {
        padding: 58px 20px;
        width: 100%;
        max-width: none;
    }

    .roadmap_content {
        padding-top: 90px;

    }
}